// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Global CSS
@import "./global.scss";

// Components
@import "./components/navbar.scss";
@import "./components/buttons.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/about.scss";
@import "./sections/portfolio.scss";
@import "./sections/projects.scss";
@import "./sections/signup.scss";
@import "./sections/contact.scss";
@import "./sections/footer.scss";

// Animations
@import "./animations.scss";
_

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #2d2d2d;
  color: #2d2d2d;
}

.hero2 {
  @include media-breakpoint-down(md) {
    h1 {
      font-size: 4rem !important;
    }

    p {
      font-size: 1.3rem !important;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 110px !important;
    background-attachment: local !important;
    h1 {
      font-size: 2.9rem !important;
    }

    p {
      font-size: 0.9rem !important;
    }
  }

  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 2.9rem !important;
    }

    p {
      font-size: 0.8rem !important;
    }
  }
}
